<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct HTTP access to sensitive files
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^\.env\..* - [F,L,NC]
    RewriteRule ^storage/logs/.* - [F,L,NC]
    RewriteRule ^storage/framework/.* - [F,L,NC]

    # If the request is not already for the /public folder, rewrite to /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
